@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Farro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");

/* 
CSS NORMALIZE 
*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #000;
}

a,
button {
  cursor: pointer;
}

image {
  max-width: 100%;
  height: auto;
}

/* 
CONTAINER
*/

.container-header {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
}

.wrapper-header {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.container-main {
  max-width: 1200px;
  width: 100%;
  display: flex;
  column-gap: 30px;
  margin: 0 auto;
}

.container-aside {
  max-width: 385px;
  width: 100%;
}

.container-article {
  max-width: 785px;
  width: 100%;
  margin: 0 auto;
}

/* 
HEADER
*/

.header {
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.header a {
  font-family: "Tourney", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
}

.header__navigation {
  display: flex;
  column-gap: 10px;
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 0.48px;

  list-style: none;
}

.header__navigation a {
  text-decoration: none;
}

/* 
MAIN SECTION
*/

.main {
  margin-top: 150px;
  position: relative;
}

/* 
SIDEBAR
*/

.side-bar {
  max-width: 385px;
  height: 100%;
  padding: 10px;
  position: sticky;
  top: 85px;
}

.side-bar__item {
  font-family: "Francois One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  text-transform: uppercase;
  border-bottom: 1px solid #bdbdbd;
  list-style: none;
}

.side-bar__item:not(:last-of-type) {
  margin-bottom: 70px;
}

.side-bar__item a {
  text-decoration: none;
}

/* 
ARTICLE
*/

.article {
  max-width: 785px;
  width: 100%;
}

.chapter__divider {
  height: 8px;
  width: 100px;
  background-color: #000;
  margin-bottom: 28px;
}

.chapter__title {
  display: flex;
  margin-bottom: 40px;
}

.chapter__title h2 {
  font-family: "Francois One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.64px;
  line-height: 48px;
}

/* In Figma, the font size for tag "sub" is 30px, but it seems too big , 
so I adjusted it to 20px. Let me know, if you agree or if 
I should revert it to 20px. */
.chapter__title sub {
  font-family: "Farro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.64px;
}

.chapter p {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  line-height: 48px;
}

.chapter {
  margin-bottom: 70px;
}

.chapher__description p:not(:last-of-type) {
  margin-bottom: 40px;
}

/* 
TEXT DECORATION
*/

a {
  color: #000;
}

b {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

span {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

mark {
  background-color: lightgray;
}

.image {
  position: fixed;
  top: 150px;
  right: 0;
  z-index: -1;
}
